
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        background-color: hsl(275, 100%, 97%);
        background-image: url("./assets/images/background-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
    }

    .parent{
        display: flex;
        flex-flow: column nowrap;
        margin: 15%  auto;
        width: 90%;
        max-width: 600px;
        background-color: white;
        padding: 25px;
        border-radius: 15px;
        position: relative;
    }

    .logo{
        display: flex;
        margin: 20px 0;
    }

    h1{
        display: inline;
        color: hsl(292, 42%, 14%);
        margin-left: 15px;
        font-weight: 700;
        font-size: 48px;
    }

    span{
        color:hsl(292, 42%, 14%);
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }

    span:hover{
        color: hsl(280, 100%, 50%);
        cursor: pointer;
        transition:  color 0.5s ease ;
    }

    .answer{
        display: none;
        color: hsl(292, 16%, 49%);
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-top: 25px;
    }

    hr{
        margin: 20px 0;
        opacity: 0.1;
    }

    @media screen and (max-width: 400px ){
          .parent{
            min-width: 250px;

        }
    }
    @media only screen and (max-width: 680px) {
        body{
        background-image: url("./assets/images/background-pattern-mobile.svg");
        background-position: 0% -15%;
    }
    .parent{
            width: 100%;
            max-width: 350px;
            margin: 30%  auto;

        }
    h1{
        font-size: 36px;
    }
    span{
        font-size: 16px;
    }
    .answer{
        font-size: 14px;
    }
    .icon{
        width: 22px;
    }
    }


